#contact {
  display: flex;
  justify-content: center;
  margin: 10px;
}
  
  a {
    background: #283b63;
    display: flex;
    justify-content: space-around;
    padding: 12px;
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: goldenrod;
  }
  
  header {
    text-align: center;
  }