.flex-container {
    display: flex;
    justify-content: center;
  }
  
  a {
    background: #283b63;
    display: flex;
    justify-content: space-around;
    padding: 12px;
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: goldenrod;
  }
  
  header {
    text-align: center;
    
  }
